/* NAVBAR CONTAINER  */
.navbar {
  position: fixed;
  top: 0;
  width: 98%;
  border-radius: 40px;
  height: 64px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* ⭐ CHANGE THIS */
  background: #fffdfd;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
  z-index: 1000;
}

.logo-name {
  display: flex;
  align-items: center;
  gap: 70px; /* increase this value */
}

/*  LOGO SECTION */ 
.nav-logo {
  display: flex;
  align-items: center;
  gap: 2px;                    /* Space between logo image & text */
  color: #2e0247;               /* Gold brand color */
  font-size: 18px;
  font-weight: 700;
}

/* Logo image size */
.logo-img {
  width: 40px;
  height: 40px;
}

/* LINKS CONTAINER */
.nav-link {
  font-size: 14px;
  gap: 10px;
  padding: 8px 10px;
  color: rgb(21, 22, 22) !important;      /* force white text */
  margin-left: auto;
}
.navbar .nav-link {
  color: #ffffff;
}

.nav-link {
  color: #140c0c;          /* default text color */
  text-decoration: none;  /* remove underline */
  padding: 10px 12px;      /*hover yellow box size*/
  border-radius: 8px;
}

.nav-link:hover {
  background: #b75aea;    /* gold background */
  color: white !important; /* 🔒 force black text */
  text-decoration: none;
}

.nav-link::after {
  display: none;
}

.page-content {
  padding-top: 65px;            /* Space below fixed navbar */
}

.nav-link svg{
  font-size: 16px;
}

/* Active navbar link (current page) */
.nav-link.active {
  background:#b75aea;   /* same gold color as hover */
  color: white !important;
}