/* ===== MAIN LAYOUT ===== */
.room-layout {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

/* ===== GRID ===== */
.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

/* ===== CARD ===== */
.room-card {
  background: white;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.3s;
}

.room-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.room-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* TEXT */
.room-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

.price {
  color: #555;
}

/* BUTTONS */
.details-btn {
  padding: 8px 12px;
  background: orange !important;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.book-btn {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  background:gold !important;
  color:black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* ===== BOOKING SIDE PANEL ===== */
.booking-side {
  position: fixed;
  top: 0;
  right: 0;
  width: 880px;
  height: 100vh;
  background: white;
  box-shadow: -5px 0 25px rgba(0,0,0,0.2);
  padding-top: 10px;
  z-index: 1000;
  overflow-y: auto;
  animation: slideIn 0.3s ease;
}

/* HEADER */
.booking-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 0;
  justify-content: center; /* center content */
   position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
/* CENTER HEADING */
.room-heading {
  margin: 0;
  text-align: center;
  width: 100%;
}
.booking-header span {
  cursor: pointer;
  font-size: 16px;
}
.room-card h3 {
  margin: 8px 0;
}

.booking-header h3 {
  margin: 5px 0;
}

/* OVERLAY */
.booking-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

/* ANIMATION */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* ===== PAGINATION ===== */
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  background: #eee;
  cursor: pointer;
}

.pagination .active {
  background: orange;
  color: white;
}