/* PAGE */
.signin-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

/* MAIN CARD */
.signin-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 1000px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

/* LEFT SIDE */
.signin-left {
  background: linear-gradient(135deg, #008c8c,#07abab);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.signin-left h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.signin-left p {
  font-size: 16px;
  line-height: 1.6;
}

/* RIGHT SIDE */
.signin-right {
  background: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signin-right h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* FORM */
.signin-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* INPUT */
.signin-right input {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.signin-right input:focus {
  border-color: #d4af37;
  outline: none;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

/* BUTTON */
.signin-right button {
  padding: 12px;
  border-radius: 30px;
  border: none;
  background:  linear-gradient(135deg, #008c8c,#07abab);
  color: #fbf8f8;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.signin-right button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* REGISTER TEXT */
.register-text {
  margin-top: 15px;
  text-align: center;
}

.register-text span {
  color: #f90606;
  font-weight: bold;
  cursor: pointer;
}

.register-text span:hover {
  text-decoration: underline;
}